# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Variables de entorno (API keys aquí adentro ⚠️)
.env
frontend/.env
backend/.env

# Build outputs
frontend/dist/
backend/dist/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

request.http